
.card .preview-medium {
    height: 322px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.3);
}

.card .preview-medium .left {
    width: 40%;
    float: left;
    overflow: hidden;
    background: transparent;
}

.card .preview-medium .left img {
    width: 100%;
}

.card .preview-medium .right {
    padding: 20px;
    width: 60%;
    float: left;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
}