<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <form name="movieRegistrationForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control" type="text" ng-model="$ctrl.foo" placeholder="Title">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="dismissModal()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="acceptModal()">OK</button>
</div>