<div class="container">
    <div class="row">
        <div class="col-md-3" ng-repeat="movie in $ctrl.movies">
            <div class="card card-inverse">
                <img class="card-img" ng-src="{{movie.posterPath}}" alt="{{movie.title}}">
                <div class="card-img-overlay">
                    <div class="card-overlay">
                        <div class="card-overlay-content">
                            <h4 class="card-title">{{movie.title}}</h4>
                            <p class="card-text">{{movie.tagline}}</p>
                            <button class="btn btn-primary" ng-click="$ctrl.playMovie(movie)">Play</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
