<div class="container">
    <div class="row">
        <div class="col-md-3" ng-repeat="movie in $ctrl.movies">
            <div class="card card-inverse medium">
                <img class="card-img-top" ng-src="{{movie.posterPath || 'http://placehold.it/320x240'}}">
                <div class="card-block">
                    <h4 class="card-title">{{movie.title}}</h4>
                    <p class="card-text">{{movie.tagline}}</p>
                    <button class="btn btn-primary" role="button" ng-click="$ctrl.playMovie(movie)">Play</button>
                </div>
            </div>
        </div>
    </div>
</div>
